---
import Layout from "../../layouts/Layout.astro";
import { LoginForm } from "../../components/auth/LoginForm";
import { AuthFormLayout } from "../../components/auth/AuthFormLayout";

// Set to SSR mode to ensure it's always rendered on the server
export const prerender = false;
---

<Layout title="Sign In">
  <main class="flex flex-col items-center justify-center min-h-screen py-12 bg-background">
    <AuthFormLayout 
      title="Sign In" 
      description="Enter your credentials to access your account"
      client:load
    >
      <LoginForm 
        onSubmit={(data) => {
          // This is a client-side prop that will be replaced with actual implementation
          // We're only defining the UI here
          return Promise.resolve();
        }}
        onGoogleLogin={() => {
          // This is a client-side prop that will be replaced with actual implementation
          return Promise.resolve();
        }}
        client:load
      />
    </AuthFormLayout>
  </main>
</Layout> 