<!-- ---
import Layout from "../../layouts/Layout.astro";
import { PasswordResetForm } from "../../components/auth/PasswordResetForm";
import { AuthFormLayout } from "../../components/auth/AuthFormLayout";

// Set to SSR mode to ensure it's always rendered on the server
export const prerender = false;
---

<Layout title="Reset Password">
  <main class="flex flex-col items-center justify-center min-h-screen py-12 bg-background">
    <AuthFormLayout 
      title="Reset Password" 
      description="We'll send you a link to reset your password"
      client:load
    >
      <PasswordResetForm 
        onSubmit={(data) => {
          // This is a client-side prop that will be replaced with actual implementation
          // We're only defining the UI here
          return Promise.resolve();
        }}
        client:load
      />
    </AuthFormLayout>
  </main>
</Layout>  -->