---
import Layout from "../../layouts/Layout.astro";
import GenerateExerciseForm from "../../components/GenerateExerciseForm";
---

<Layout title="Generate New Exercise">
  <main class="container mx-auto py-8 px-4">
    <section>
      <GenerateExerciseForm client:load />
    </section>
  </main>
</Layout>
